@import "../../sass/components/headers";
@import "../../sass/abstracts/colors";
@import "../../sass/abstracts/mixins";
.changepassword {
    &-title {
        @include header-1();
        color: $neutral-700;
        margin: 100px;
    }
    &-description {
        @include text-3();
        color: $neutral-700;
    }
    &-icon {
        width: 24px;
        height: 24px;
        fill: $neutral-700;
    }
    &-flex {
        @include flex(row, start, space-around);
        @media only screen and (max-width: 600px) {
            @include flex(column, center, center);
        }
    }
    margin: 200px auto;
}
