//colors

$primary-150: #e1dff8ff;
$primary-200: #cfcbf3ff;
$primary-400: #867CE1FF;
$primary-500: #6355d8ff;
$primary-550: #4d3ed3ff;
$primary-600: #3d2dc7ff;

$tertiary1-500: #ed5d56ff;

$tertiary3-500: #60cfa5ff;
$tertiary3-600: #36b584ff;
$tertiary3-650: #2f9c72ff;

$danger-500: #f22128ff;
$danger-600: #d20c13ff;
$danger-650: #b90b11ff;

$white: #ffffffff;
$neutral-100: #fafafbff;
$neutral-150: #f8f9faff;
$neutral-250: #EAECEFFF;
$neutral-300: #dee1e6ff;
$neutral-400: #BCC1CAFF; 
$neutral-500: #9095a0ff;
$neutral-550: #6e7787ff;
$neutral-600: #565e6cff;
$neutral-900: #171a1fff;
