// font families
$font-Montserrat: "Montserrat";
$font-Poppins: "Poppins";

// font weight
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// font size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-32: 32px;

//line height
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-26: 26px;
$line-height-30: 30px;
$line-height-48: 48px;
