// border-start
//boder-size
$border-none: none;
$border-s: 4px;
$border-m: 6px;
$border-l: 8px;
$border-xl: 12px;
//border-width
$border-width-0: 0px;
$border-width-1: 1px;
//border-style
$border-solid: solid;
//border-radius
$border-tl-m: 6px;
$border-bl-m: 0px;
//border-end

//shadow
$shadow-xs: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
$shadow-m: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;

//outline-start
$outline-none: none;
//outline-end

// opacity
$opacity-0: none;
$opacity-1: 0.1;
$opacity-2: 0.2;
$opacity-3: 0.3;
$opacity-4: 0.4;
$opacity-5: 0.5;
$opacity-6: 0.6;
$opacity-7: 0.7;
$opacity-8: 0.8;
$opacity-9: 0.9;
$opacity-max: 1;

//padding
$padding-0: 0;
$padding-12: 12px;
$padding-16: 16px;
$padding-32: 32px;

//margin
$margin-0: 0;
$margin-5: 5px;
$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;
$margin-40: 40px;

//size-start
//height
$height-20: 20px;
$height-36: 36px;
$height-44: 44px;
$height-48: 48px;
$height-64: 64px;
//width
$width-20: 20px;
$width-80: 80px;
$width-131: 131px;
$width-155: 155px;
$width-270: 270px;
$width-355: 355px;
//size-end
