@import '../../sass/components/headers';

.changepasswordverify{
    margin: 100px;
    text-align: center;
    &-title{
        @include sub-header();
    }
    &-description{
        @include text-3();
        color: $neutral-900;
    }
    &-button{
        text-align: center;
        height: 52px;
    }
    &>*{
        margin: 50px auto;
    }
}