@import '../../sass/abstracts/colors';

.check-icon-outline {
    position: relative;
    text-align: center;
    margin: auto;
    width: 74px;
    height: 74px;
    background: $tertiary3-600;
    border-radius: 37px;
}
.check-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 50px;
    height: 50px;
    fill: $white;
}