@import '../abstracts/colors';
@import '../abstracts/typography';

@mixin header-main {
	font-family: $font-Montserrat;
	font-size: 56px;
	line-height: 78px;
	font-weight: $font-weight-700;
	color: $neutral-900;
}

@mixin sub-header {
	font-family: $font-Montserrat;
	font-size: 48px;
	line-height: 68px;
	font-weight: $font-weight-700;
	color: $neutral-900;
}

@mixin header-1 {
	font-family: $font-Montserrat;
	font-size: $font-size-32;
	line-height: $line-height-48;
	font-weight: $font-weight-700;
	color: $neutral-900;
	text-align: center;
}
@mixin header-2($color: $neutral-600) {
	font-family: $font-Montserrat;
	font-size: $font-size-20;
	line-height: $line-height-30;
	font-weight: $font-weight-400;
	color: $color;
	text-align: center;
	text-wrap: nowrap;
	text-overflow: clip;
}

@mixin header-3($color:$neutral-900){
	font-family: $font-Montserrat;
	font-size: 24px; 
	line-height: 36px; 
	font-weight: 700; 
	color: $color;
}

@mixin text($color: $neutral-900) {
	text-decoration: none;
	font-size: $font-size-14;
	line-height: $line-height-22;
	font-weight: $font-weight-400;
	color: $color;
}

@mixin text-2() {
	text-decoration: none;
	font-size: $font-size-16;
	line-height: $line-height-26;
	font-weight: $font-weight-400;
	color: $neutral-600;
}

@mixin text-3(){
	text-decoration: none;
	font-size: $font-size-18;
	line-height: $line-height-28;
	font-weight: $font-weight-400;
	color: $neutral-500;
}