@import "../../sass/components/button";
@import "../../sass/components/input";
@import "../../sass/components/headers";
@import "../../sass/components/loader";
@import "../../sass/components/icon";
@import "../../sass/abstracts/typography";
@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/colors";

.changepassword {
    &-input-box{
        position: relative;
    }
    &-button {
        cursor: pointer;
        border: none;
        background: transparent;
        position: absolute;
        left: 360px;
        top: 25%;
    }
    &-input {
		width: 400px;
		margin-bottom: $margin-10;
        padding-left: 16px;
        padding-right: 32px;
	}
}
.changepasswordform-outline{
    background-color: $white;
    border: 1px $neutral-200 solid;
    border-radius: $border-s;
    max-width: 500px;
    height: 350px;
    padding: 50px 30px;
}
.input-box-outline{
    @include flex(column);
}

.changepasswordform{
    &-buttons{
        float: right;
    }
    &-button, &-button:hover{
        height: 44px;
        display: inline-block !important;
        margin: 10px 0px 0px 10px;
    }
}